alabaster==0.7.11
asn1crypto==0.24.0
astroid==2.0.3
Babel==2.6.0
backcall==0.1.0
bleach==2.1.4
certifi==2019.3.9
cffi==1.11.5
chardet==3.0.4
cloudpickle==0.5.6
cryptography==2.6.1
cryptography-vectors==2.3.1
cvxopt==1.2.1
cycler==0.10.0
decorator==4.3.0
docutils==0.14
entrypoints==0.2.3
fastcache==1.0.2
gmpy2==2.0.8
html5lib==1.0.1
idna==2.7
imagesize==1.1.0
ipykernel==5.0.0
ipython==7.0.1
ipython-genutils==0.2.0
isort==4.3.4
jedi==0.13.1
jeepney==0.4
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-core==4.4.0
keyring==13.2.1
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
line-profiler==2.1.2
MarkupSafe==1.0
matplotlib==3.0.3
mccabe==0.6.1
memory-profiler==0.54.0
mistune==0.8.3
mkl-fft==1.0.6
mkl-random==1.0.1
mpmath==1.0.0
nbconvert==5.3.1
nbformat==4.4.0
numpy==1.15.2
numpydoc==0.8.0
packaging==18.0
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.5
psutil==5.4.7
ptyprocess==0.6.0
pycodestyle==2.4.0
pycparser==2.19
pyflakes==2.0.0
Pygments==2.2.0
pylint==2.1.1
Pympler==0.5
pyOpenSSL==18.0.0
pyparsing==2.2.2
PySocks==1.6.8
python-dateutil==2.7.3
pytz==2018.5
pyzmq==17.1.2
QDarkStyle==2.6
QtAwesome==0.5.1
qtconsole==4.4.1
QtPy==1.5.1
requests==2.19.1
rope==0.10.7
scipy==1.1.0
SecretStorage==3.1.0
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==2.0.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.1
sphinxcontrib-websupport==1.1.0
spyder==3.3.2
spyder-kernels==0.2.6
spyder-line-profiler==0.1.1
spyder-memory-profiler==0.1.0
sympy==1.3
testpath==0.3.1
tornado==5.1.1
traitlets==4.3.2
typed-ast==1.1.0
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
wrapt==1.10.11
xlrd==1.1.0
XlsxWriter==1.1.1
